<div class="ng-cloak">
  <form name="editForm" ng-submit="submitForm()" class="form-posts">
    <h2 class="form-posts-heading">发布一篇博客</h2>
    <input type="text" name="title" ng-model="edit.title" placeholder="请输入标题" ng-minlength="3" ng-maxlength="30" required="required" ng-focus="ng-focus" disabled="disabled" class="form-control"/>
    <div ng-messages="editForm.title.$error" ng-messages-multiple="ng-messages-multiple"  ng-if="editForm.title.$dirty &amp;&amp; (!editForm.title.$focused || editForm.submitted)" class="error">
      <div ng-message="required">标题不能为空</div>
      <div ng-message="minlength">标题最短为3位字符</div>
      <div ng-message="maxlength">标题最长为30位字符</div>
    </div>
    <textarea name="content" rows="12" ng-model="edit.content" placeholder="请输入正文" ng-minlength="10" ng-maxlength="5000" required="required" ng-focus="ng-focus" class="form-control"></textarea>
    <div ng-messages="editForm.content.$error" ng-messages-multiple="ng-messages-multiple"  ng-if="editForm.content.$dirty &amp;&amp; (!editForm.content.$focused || editForm.submitted)" class="error">
      <div ng-message="required">正文不能为空</div>
      <div ng-message="minlength">正文最短为10位字符</div>
      <div ng-message="maxlength">正文最长为5000位字符</div>
      <div ng-message="confirm">请编辑后再保存修改</div>
    </div>
    <div ng-include="'views/tpls/posts/upload.html'"></div>
    <button id="edit" type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary btn-lg btn-block">保存修改</button>
  </form>
</div>