extends layout

block content
    div.ng-cloak(ng-app="app" ng-controller="MyController")
        {{ clock.now | date: 'medium' }}
        -each post in posts
            div.post-div.text-left
                p
                    h2=post.title
                p.info
                    |作者：#{post.username} |
                    |日期：#{post.createdTime.minute}
                !{post.content}