<form class="form-signin">
    <h2 class="form-signin-heading"> 请输入注册信息 </h2>
    <div class="input-group margin-bottom-sm">
        <span class="input-group-addon">
            <i class="fa fa-user fa-fw"></i>
        </span>
        <input class="form-control" type="text" name="name" placeholder="请输入用户名">
    </div>
    <div style="display: none">
        <label id="error-username" class="error"></label>
    </div>

    <div class="input-group margin-bottom-sm">
        <span class="input-group-addon">
            <i class="fa fa-key fa-fw"></i>
        </span>
        <input class="form-control" type="password" name="password" placeholder="请输入密码">
    </div>
    <div style="display: none">
        <label id="error-password" class="error"></label>
    </div>

    <div class="input-group margin-bottom-sm">
        <span class="input-group-addon">
            <i class="fa fa-key fa-fw"></i>
        </span>
        <input class="form-control" type="password" name="password-repeat" placeholder="请再次输入密码">
    </div>
    <div style="display: none">
        <label id="error-password-repeat" class="error"></label>
    </div>

    <div class="input-group margin-bottom-sm">
        <span class="input-group-addon">
            <i class="fa fa-envelope-o fa-fw"></i>
        </span>
        <input class="form-control" type="text" name="email" placeholder="请输入邮箱">
    </div>
    <div style="display: none">
        <label id="error-email" class="error"></label>
    </div>

    <a class="btn btn-primary btn-lg btn-block" href="javascript:void(0)" id="reg-btn"> 注册 </a>
</form>