body {
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 14px;
    display: block;
}

.main-body {
    padding: 40px 15px 0px 15px;
    text-align: center;
}

footer {
    text-align: center;
}