<form name="regForm" ng-submit="submitForm()" class="form-signin">
  <h2 class="form-signin-heading">请输入注册信息</h2>
  <div class="input-group margin-bottom-sm"><span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
    <input type="text" name="username" ng-model="reg.username" placeholder="请输入用户名" ng-minlength="3" ng-maxlength="20" ensure-unique="username" required="required" ng-focus="ng-focus" class="form-control"/>
  </div>
  <!--ng-cloak用于防止出现闪烁的情况-->
  <div ng-messages="regForm.username.$error" ng-messages-multiple="ng-messages-multiple" ng-if="regForm.username.$dirty &amp;&amp; (!regForm.username.$focused || regForm.submitted)" class="error ng-cloak">
    <div ng-message="required">用户名不能为空</div>
    <div ng-message="minlength">用户名最短为3位字符</div>
    <div ng-message="maxlength">用户名最长为20位字符</div>
    <div ng-message="unique">用户名已存在</div>
  </div>
  <div class="input-group margin-bottom-sm"><span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
    <input type="password" name="password" ng-model="reg.password" placeholder="请输入密码" ng-minlength="3" ng-maxlength="20" required="required" ng-focus="ng-focus" class="form-control"/>
  </div>
  <div ng-messages="regForm.password.$error" ng-messages-multiple="ng-messages-multiple" ng-show="regForm.password.$dirty &amp;&amp; (!regForm.password.$focused || regForm.submitted)" class="error ng-cloak">
    <div ng-message="required">密码不能为空</div>
    <div ng-message="minlength">密码最短为3位字符</div>
    <div ng-message="maxlength">密码最长为20位字符</div>
  </div>
  <div class="input-group margin-bottom-sm"><span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
    <input type="password" name="passwordRepeat" ng-model="reg.passwordRepeat" placeholder="请再次输入密码" ng-minlength="3" ng-maxlength="20" required="required" ng-focus="ng-focus" confirmed="confirmed" class="form-control"/>
  </div>
  <div ng-messages="regForm.passwordRepeat.$error" ng-messages-multiple="ng-messages-multiple" ng-show="regForm.passwordRepeat.$dirty &amp;&amp; (!regForm.passwordRepeat.$focused || regForm.submitted)" class="error ng-cloak">
    <div ng-message="required">密码不能为空</div>
    <div ng-message="minlength">密码最短为3位字符</div>
    <div ng-message="maxlength">密码最长为20位字符</div>
    <div ng-message="confirmed">两次输入的密码不相同</div>
  </div>
  <div class="input-group margin-bottom-sm"><span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
    <input type="email" name="email" ng-model="reg.email" placeholder="请输入邮箱" ng-minlength="3" ng-maxlength="30" ensure-unique="email" required="required" ng-focus="ng-focus" class="form-control"/>
  </div>
  <div ng-messages="regForm.email.$error" ng-messages-multiple="ng-messages-multiple" ng-show="regForm.email.$dirty &amp;&amp; (!regForm.email.$focused || regForm.submitted)" class="error ng-cloak">
    <div ng-message="required">邮箱不能为空</div>
    <div ng-message="unique">该邮箱已被使用</div>
    <div ng-message="minlength">邮箱最短为3位字符</div>
    <div ng-message="maxlength">邮箱最长为30位字符</div>
    <div ng-message="email">邮箱格式不正确</div>
  </div>
  <button type="submit" ng-disabled="regForm.$invalid" class="btn btn-primary btn-lg btn-block">注册</button>
</form>