extends ../layout

block content

    div(ng-app="posts" ng-controller="PublishController")
        form.form-posts(name="publishForm" ng-submit="submitForm()")
            h2.form-posts-heading 发布一篇博客
            input.form-control(type="text" name="title" ng-model="publish.title" placeholder="请输入标题" \
                    ng-minlength="3" ng-maxlength="30" required ng-focus)
            //ng-cloak用于防止出现闪烁的情况
            div.error.ng-cloak(ng-messages="publishForm.title.$error" ng-messages-multiple \
                    ng-if="publishForm.title.$dirty && (!publishForm.title.$focused || publishForm.submitted)")
                div(ng-message="required") 标题不能为空
                div(ng-message="minlength") 标题最短为3位字符
                div(ng-message="maxlength") 标题最长为30位字符
            textarea.form-control(name="content" rows="12" ng-model="publish.content" placeholder="请输入正文" \
                    ng-minlength="10" ng-maxlength="5000" required ng-focus)
            div.error.ng-cloak(ng-messages="publishForm.content.$error" ng-messages-multiple \
                    ng-if="publishForm.content.$dirty && (!publishForm.content.$focused || publishForm.submitted)")
                div(ng-message="required") 正文不能为空
                div(ng-message="minlength") 正文最短为10位字符
                div(ng-message="maxlength") 正文最长为5000位字符
                div(ng-message="confirm") 不能发布完全相同的文章

            button#publish.btn.btn-primary.btn-lg.btn-block(type="submit" ng-disabled="publishForm.$invalid") 发布