div.ng-cloak(ng-app="posts" ng-controller="UploadController")
    div.uploaded(ng-repeat="uploaded in uploadeds")
        img.images(ngf-src="uploaded.path" ngf-accept="'image/*'" alt="{{ uploaded.name }}")
        span {{ uploaded.name }}
    div.drop-box(ngf-drop ngf-select ng-model="files" ngf-drag-over-class="dragover"
        ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'image/*,application/pdf'") 点击或将图片拖到此处进行上传
    //- ul
    //-     li(ng-repeat="f in files" style="font:smaller") {{f.name}}
    //- | Upload Log:
    //- pre {{log}}